.photo-grid__item {
    max-width: 284px;
}

@media screen and (max-width: 1250px) {
    .photo-grid__item {
        max-width: 370px;
        max-height: 285px;
    }
}

@media screen and (max-width: 1207px) {
    .photo-grid__item {
        max-width: 330px;
        max-height: 250px;
    }
}


@media screen and (max-width: 1158px) {
    .photo-grid__item {
        max-width: 340px;
        max-height: 250px;
    }
}

@media screen and (max-width: 1075px) {
    .photo-grid__item {
        max-width: 300px;
        max-height: 230px;
    }
}


@media screen and (max-width: 1024px) {
    .photo-grid__item {
        max-width: 300px;
        max-height: 225px;
    }
}

@media screen and (max-width: 980px) {
    .photo-grid__item {
        max-width: 270px;
        max-height: 220px;
    }
}

@media screen and (max-width: 890px) {
    .photo-grid__item {
        max-width: 250px;
        max-height: 200px;
    }
}

@media screen and (max-width: 830px) {
    .photo-grid__item {
        max-width: 220px;
        max-height: 170px;
    }
}


@media screen and (max-width: 768px) {
    .photo-grid__item {
    max-width: 352px;
    max-height: 264px;
    } 
}

@media screen and (max-width: 670px) {
    .photo-grid__item {
        max-width: 290px;
        max-height: 250px;
    }
}

@media screen and (max-width: 600px) {
    .photo-grid__item {
        max-width: 250px;
        max-height: 220px;
    }
}

@media screen and (max-width: 550px) {
    .photo-grid__item {
        max-width: 220px;
        max-height: 200px;
    }
}

@media screen and (max-width: 490px) {
    .photo-grid__item {
        max-width: 200px;
        max-height: 180px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid__item {
        max-width: 288px;
        max-height: 216px;
    }
}