.place {
    display: grid;
    grid-template-areas: "title website"
    "image paragraph";
    grid-template-columns: 460px 1fr;
    column-gap: 45px;
    margin-top: 80px;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        column-gap: 28px;
    }
}

@media screen and (max-width: 800px) {
    .place {
        grid-template-columns: 340px 1fr;
        margin-top: 73px;
    }

    .place:first-of-type {
        margin-top: 80px;
    }
}

@media screen and (max-width: 650px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-areas: "title" "website" "image" "paragraph";
        justify-self: center;
    }

}

@media screen and (max-width: 360px) {
    .place {
    margin-top: 60px;
    }


    .place:first-of-type {
        margin-top: 64px;
    }
}
